################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.idea
dist
node_modules
.angular
/.vs
obj
.vs/VSWorkspaceState.json
.vsv16/TestStore/0/testlog.manifest
.vsv16/TestStore/0/000.testlog
.vsv16/TestStore/0
.vsv16/.suo
.vsv16
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/Frontend.iml
/.idea/.gitignore
/.idea
/dist
/yarn.lock
.eslintcache
